body{
	background:#ffffff;
	color:#121314;
	line-height:1em;
	font-family:'Open Sans', Helvetica,Arial,sans-serif;
}

a{
	text-decoration:none;
	color:#7a7a7a;
}

a:hover{
	color:#494949;
}

p{
	line-height:1.6em;
	max-width:100%;
	margin:0 0 1em;
}

nav{
	padding:70px 0;
	border-bottom:solid 1px #cdcdcd;
	margin-bottom:25px;
}

nav h1{
	position:relative;
	top:-20px;
	width:50%;
	display:inline-block;
	margin:0;
	font-size:42px;
	text-transform:uppercase;
	float:left;
	font-weight:300;
	font-family:'Open Sans Condensed', Helvetica,Arial,sans-serif;
	letter-spacing:0.15em;
}

nav h1 .bold{
	font-weight:700;
}

nav h1 .lowercase{
	font-weight:300;
	text-transform:lowercase;
	font-size:24px;
}

nav h1 img{
	width:200px;
}

nav ul{
	width:50%;
	display:inline-block;
	float:right;
	margin:0;
	padding:0;
	text-align:right;
}

nav ul li{
	padding:0 0 0 2em;
}

nav ul li a{
	color:#7a7a7a;
	font-weight:200;
}

nav ul:after{
	clear:both;
}

#wrapper{
	width:900px;
	margin:0px auto;
}

#content h1{
	text-transform:uppercase;
}

#content .blklab-block{
	margin:20px 0;
}

#content .blklab-text{
	margin:10px auto;
	max-width:100%;
	height:auto;
}

#content.active{
	padding-bottom:50px;
}

#content .divider{
	border-top:solid 1px #cdcdcd;
}

footer{
	border-top:solid 1px #cdcdcd;
	padding:50px 0;
	text-align:left;
	color:#121314;
}

.col-1-2, .col-1-2 img{
	height:450px;
}

.col-1-3, .col-1-3 img{
	height:280px;
}

.col-1-4, .col-1-4 img{
	height:205px;
}

.col-1-5, .col-1-5 img{
	height:160px;
}

.col-1-6, .col-1-6 img{
	height:130px;
}

.col-1-7, .col-1-7 img{
	height:110px;
}

.col-1-8, .col-1-8 img{
	height:50px;
}

#content .blklab-text [class="col-"]{
	height:auto;
}


@media only screen and (max-width : 1200px) {
	#content .blklab-text{
		width:95%;
		margin:10px auto;
	}
}

@media only screen and (max-width : 900px) {
	#content{
		width:100%;
	}

	#wrapper{
		width:98%;
		margin:0px auto;
	}
}
