<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link href='http://fonts.googleapis.com/css?family=Fjord+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700|Montserrat:400,700|Josefin+Slab:300,400,700|Arvo:400,700|Droid+Sans:400,700|Oswald:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/simplegrid.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/mq.css">
	<link rel="stylesheet" href="/css/edit.css">

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>
	<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

	<!-- Add your site or application content here -->

	<section id="wrapper">
		<nav>
			<h1 class="logo"><span class="bold">Blk</span>lab <span class="lowercase">Image Processor</span></h1>
		</nav>
		<section class="grid" id="content">
			<!--<div class="js-video widescreen">
				<iframe width="627" height="384" src="//www.youtube.com/embed/wN3gueLT0D8" frameborder="0" allowfullscreen></iframe>
			</div>

			<section class="blklab-block blklab-image main_img" data-type="image" draggable>
				<img src="/assets/images/e72e5160-3630-11e4-b3b0-f3de6a87ba45-lg.jpg" class="tall-img">
			</section>-->
		</section>
		<footer>Powered By <a href="http://blklab.cc">BlkLab</a></footer>
	</section>
</body>
</html>
