<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Setup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/grid.css">
		<link rel="stylesheet" href="/css/setup.css">

		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<![endif]-->
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <section id="wrapper">
			<header class="col span_2_of_2">
				<img src="/assets/images/logo.png">
			</header>

			<div class="clear"></div>

			<section class="group" id="user_info">
				<div class="col span_1_of_3">

				</div>
				<div class="col span_1_of_3">
					<h2>Tell Us About You/Your Company</h2>
					<form method="post" action="/create">
						<div class="row">
							<label>Your Name</label>
							<input type="text" name="name">
						</div>

						<div class="row">
							<label>Your Company Name</label>
							<input type="text" name="company">
						</div>

						<div class="row">
							<label>Your Desired Domain</label>
							<input type="text" name="domain">
						</div>

						<div class="row">
							<label>Your Focus</label>
							<select name="focus">
								<option>Commerce</option>
								<option>Photography</option>
								<option>Journal</option>
								<option>Blog</option>
								<option>Portfolio</option>
							</select>
						</div>

						<div class="row">
							<label>Your Logo</label>
							<input type="file" name="logo">
						</div>

						<div class="row">
							<input type="button" blklab-click="nextStep" blklab-over="hoverAction" blklab-step="2" value="Next">
						</div>

					</form>
				</div>
				<div class="col span_1_of_3">

				</div>
			</section>

			<section class="group" id="site_structure">
				<div class="col span_1_of_3">

				</div>
				<div class="col span_1_of_3">
					<h2>Setup Your Site Structure</h2>
					<div id="main_nav">
						What would you like in your main nav?
					</div>

					<div id="sub_nav">
					</div>
				</div>
				<div class="col span_1_of_3">

				</div>
			</section>

		</section>

		<script src="/js/handlebars-v2.0.0.js"></script>
		<script src="/js/promise-1.0.0.min.js"></script>
		<script src="/js/blklab.js"></script>
		<script src="/js/blklab_utils.js"></script>
		<script src="/js/blklab_model.js"></script>
		<script src="/js/blklab_view.js"></script>
		<script src="/js/blklab_controller.js"></script>
		<script src="/js/blklab_router.js"></script>
		<script src="/js/blklab_app.js"></script>
		<script src="/js/app.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script> -->
    </body>
</html>
