<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
</head>
<body>
	<a href="/home">Home</a> <a href="/test">Test</a>
	<section id="content">

	</section>

	<script src="/js/handlebars-v2.0.0.js"></script>
	<script src="/js/promise-1.0.0.min.js"></script>
	<script src="/js/blklab.js"></script>
	<script src="/js/blklab_utils.js"></script>
	<script src="/js/blklab_model.js"></script>
	<script src="/js/blklab_view.js"></script>
	<script src="/js/blklab_controller.js"></script>
	<script src="/js/blklab_router.js"></script>
	<script src="/js/blklab_app.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>
