<ul>
	<li class="toolbar" data-tooltip="Edit Page Meta"><span class="fa fa-info-circle metaBtn" data-type="meta"></span></li>
	<li class="toolbar" data-tooltip="Sitemap"><span class="fa fa-sitemap stackBtn" data-type="stack"></span></li>
	<li class="toolbar" data-tooltip="Change Layout"><span class="fa fa-pencil editLayoutBtn"></span></li>
	<li class="toolbar" data-tooltip="Layout Blocks"><div class="fa fa-th-large layoutBtn"></div></li>
	<li class="toolbar" data-tooltip="Trash"><div class="fa fa-trash"></div></li>
	<li class="toolbar" data-tooltip="Page Configuration"><span class="fa fa-cog configBtn"  data-type="config"></span></li>
	<li class="toolbar" data-tooltip="Save Page"><span class="fa  fa-cloud-upload saveBtn" data-type="save"></span></li>
</ul>

<div id="menu">
	<ul>
		<li class="toolbar block-btn" data-type="image" data-tooltip="Image"><span class="fa fa-photo" data-type="image"></span></li>
		<li class="toolbar block-btn" data-type="gallery" data-tooltip="Gallery"><span title="picture" class="entypo" data-type="Gallery">🌄</span></li>
		<li class="toolbar block-btn" data-type="video" data-tooltip="Video"><span class="fa fa-film" data-type="video"></span></li>
		<li class="toolbar block-btn" data-type="map" data-tooltip="Map"><span title="map" class="entypo" data-type="map"></span></li>
		<li class="toolbar block-btn" data-type="text" data-tooltip="Text"><span class="blklab-text-icon" title="Text" data-type="text">a</span></li>
		<li class="toolbar block-btn" data-type="code" data-tooltip="Code"><span title="code" class="entypo" data-type="code"></span></li>
		<li class="toolbar block-btn" data-type="product" data-tooltip="Product"><span title="cart" class="entypo" data-type="product"></span></li>
		<li class="toolbar block-btn" data-type="divider" data-tooltip="Divider"><span class="fa fa-minus" title="Divider" data-type="divider"></span></li>
		<li class="toolbar block-btn" data-type="calendar" data-tooltip="Calendar"><span title="calendar" class="entypo" data-type="calendar">📅</span></li>
	</ul>
</div>
